<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <todo-list v-bind:todos="todos">
        <template v-slot:todo="{ todo1 }">
          <!-- <span v-if="todo.isComplete">✓</span> -->
          {{ todo1.text }}
        </template>
      </todo-list>
      
       <!-- <current-user url='helo'>
         <template v-slot:default='slotprop'>{{slotprop.url1}}</template>
       </current-user> -->

       
    </div>

    
    <script src="vue.js"></script>
    <script>
      Vue.component('current-user', {
        props: {
          url: String
        },
        template: `
        <div>
         <slot v-bind:url1='url'>
           {{url}}
         </slot>
       </div>`
      })
      Vue.component('todo-list', {
        props: {
          todos: Array
        },
        data() {
          return {
            filteredTodos: this.todos
          }
        },
        template: `
        <ul>
        <li v-for='todo in filteredTodos' :key='todo.id'>
          <slot name='todo' v-bind:todo1='todo'>{{todo.text}}</slot>
        </li>
      </ul>
        `
      })
      new Vue({
        el: '#app',
        data: {
          todos: [{
            text: 'yes',
            id: 1
          },
          {
            text: 'no',
            id: 2
          }]
        },
      })
    </script>
  </body>
</html>
